﻿<%@ Master Language="VB" CodeFile="MasterPage.master.vb" Inherits="MasterPage" %>

<%@ Register Src="~/UserControl/LoginControl.ascx" TagPrefix="UC1" TagName="Login" %>
<%@ Register Src="~/UserControl/IssueTrack.ascx" TagName="Issue" TagPrefix="ucissue" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Anupam Travel</title>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"/>

    <%--<meta charset="utf-8"/>--%>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="images/fav.png" />
    <%-- <link rel="stylesheet" href="<%=ResolveUrl("Custom_Design/css/Sidebar.css")%>" />--%>
    <link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:400,500,700" rel="stylesheet" />
    <link rel="stylesheet" href="<%=ResolveUrl("Custom_Design/css/font-awesome.min.css")%>" />
    <link rel="stylesheet" href="<%=ResolveUrl("Custom_Design/css/style.css")%>" />
    <%--<link rel="stylesheet" href="<%=ResolveUrl("Custom_Design/css/materialize.css")%>" />--%>
    <link rel="stylesheet" href="<%=ResolveUrl("Custom_Design/css/bootstrap.css")%>" />
    <link rel="stylesheet" href="<%=ResolveUrl("Custom_Design/css/mob.css")%>" />
    <link rel="stylesheet" href="<%=ResolveUrl("Custom_Design/css/animate.css")%>" />



    

    <style>
       
input[type="text"] {
  width: 100%;
  
  border-radius: 4px;
  margin: 2px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}


.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 2px;
  padding: 9px 8px;
  color: #000;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}

    </style>

   

</head>
<body>
    <div class="row" style="display:none;">
        <div class="col-md-12 head-text topblc">
            CUSTOMER SUPPORT - + 91-11-47 677 777
        </div>
    </div>
    <header style="display:none;">
            <div class="flyclubhead">
                 <div style="margin-right: 10px;" class="rgt">
                  <%--  <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true">
                    </asp:ScriptManager>--%>
                </div>                 
                <div class="navbar navbar-default" role="navigation">
                    <div class="">
                        <div class="container-fluid">
                            <div class="row" style="padding: 0px 0 3px 0;">
                                <div class="col-md-8 col-xs-6 logo">
                                    <a href="<%= ResolveUrl("login.ASPX") %>">
                                          <img src="<%= ResolveUrl("Advance_CSS/Icons/logo(ft).png") %>" alt="Header image" border="0" /></a>
                                    
                                </div>
                                  
                               
                                <div class="col-md-4 col-xs-12 testmb " style="margin-top: 8px;">
                                    <div class="menuhide" style="display:block;">
                                    <div class="lft topfntss" >  <a href="login.aspx"> Login</a></div>
                                    <div class="lft topfntss" >  <a href="Regs.aspx"> Registration </a></div>
                                     <div class="rgt topfntss"> <a href="https://www.RWT.com/contact-us.html" target="_blank"> Contact Us </a></div>
                                     <div class="rgt topfntss"> <a href="https://www.RWT.com/escalation.php" target="_blank"> Escalation </a></div>
                                        </div>
                                     
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </header>

      <!-- MOBILE MENU -->
        <section>
            <div class="ed-mob-menu">
                <div class="ed-mob-menu-con">
                    <div class="ed-mm-left">
                        <div class="wed-logo">
                            <a href="main.html">
                                <img src="Custom_Design/images/logo_new.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="ed-mm-right">
                        <div class="ed-mm-menu">
                            <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                            <div class="ed-mm-inn">
                                <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                                <h4>Home pages</h4>
                                <ul>
                                    <li><a href="booking-all.html">Home page 1</a></li>
                                    <li><a href="booking-all.html">Home page 2</a></li>
                                    <li><a href="booking-tour-package.html">Home page 3</a></li>
                                    <li><a href="booking-hotel.html">Home page 4</a></li>
                                    <li><a href="booking-car-rentals.html">Home page 5</a></li>
                                    <li><a href="booking-flight.html">Home page 6</a></li>
                                    <li><a href="booking-slider.html">Home page 7</a></li>
                                </ul>
                                <h4>Tour Packages</h4>
                                <ul>
                                    <li><a href="all-package.html">All Package</a></li>
                                    <li><a href="family-package.html">Family Package</a></li>
                                    <li><a href="honeymoon-package.html">Honeymoon Package</a></li>
                                    <li><a href="group-package.html">Group Package</a></li>
                                    <li><a href="weekend-package.html">WeekEnd Package</a></li>
                                    <li><a href="regular-package.html">Regular Package</a></li>
                                    <li><a href="custom-package.html">Custom Package</a></li>
                                </ul>
                                <h4>Sighe Seeings Pages</h4>
                                <ul>
                                    <li><a href="places.html">Seight Seeing 1</a></li>
                                    <li><a href="places-1.html">Seight Seeing 2</a></li>
                                    <li><a href="places-2.html">Seight Seeing 3</a></li>
                                </ul>
                                <h4>User Dashboard</h4>
                                <ul>
                                    <li><a href="dashboard.html">My Bookings</a></li>
                                    <li><a href="db-my-profile.html">My Profile</a></li>
                                    <li><a href="db-my-profile-edit.html">My Profile edit</a></li>
                                    <li><a href="db-travel-booking.html">Tour Packages</a></li>
                                    <li><a href="db-hotel-booking.html">Hotel Bookings</a></li>
                                    <li><a href="db-event-booking.html">Event bookings</a></li>
                                    <li><a href="db-payment.html">Make Payment</a></li>
                                    <li><a href="db-refund.html">Cancel Bookings</a></li>
                                    <li><a href="db-all-payment.html">Prient E-Tickets</a></li>
                                    <li><a href="db-event-details.html">Event booking details</a></li>
                                    <li><a href="db-hotel-details.html">Hotel booking details</a></li>
                                    <li><a href="db-travel-details.html">Travel booking details</a></li>
                                </ul>
                                <h4>Other pages:1</h4>
                                <ul>
                                    <li><a href="tour-details.html">Travel details</a></li>
                                    <li><a href="hotel-details.html">Hotel details</a></li>
                                    <li><a href="all-package.html">All package</a></li>
                                    <li><a href="hotels-list.html">All hotels</a></li>
                                    <li><a href="booking.html">Booking page</a></li>
                                </ul>
                                <h4 class="ed-dr-men-mar-top">User login pages</h4>
                                <ul>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="login.html">Login and Sign in</a></li>
                                    <li><a href="forgot-pass.html">Forgot pass</a></li>
                                </ul>
                                <h4>Other pages:2</h4>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="testimonials.html">Testimonials</a></li>
                                    <li><a href="events.html">Events</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="tips.html">Tips Before Travel</a></li>
                                    <li><a href="price-list.html">Price List</a></li>
                                    <li><a href="discount.html">Discount</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="sitemap.html">Site map</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--HEADER SECTION-->
        <section>


            

            <!-- LOGO AND MENU SECTION -->
            <div class="top-logo" data-spy="affix" data-offset-top="250" style="background: #f1f1f1; border-bottom: 1px solid #ddd;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="wed-logo">
                                <a href="<%ResolveUrl("~/flight-search") %>">
                                    <img src="<%=ResolveUrl("Advance_CSS/Icons/logo(ft).png")%>" alt="" style="width:200px; margin-top:20px;margin-left:-75px;" />
                                </a>
                            </div>
                            <div class="main-menu">
                                <%--<ul style="border-left:1px solid #ddd">--%>


                                




                                <li class="admi-menu" style="display: none;">
                                    <a href="#" class="mm-arr" style="color: #eee;"><span class="fa fa-user-circle fa-1x"></span>User Account  <span class="caret">▼</span></a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="admi-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm2-com mm1-com mm1-s4">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="places-3.html">
                                                           <%-- <img src="images/sight/4.jpg" alt="">--%>
                                                            <span>Seight Seeing - 4</span>
                                                        </a>
                                                    </div>
                                                    <p>Donec lacus libero, rutrum ac sollicitudin sed, mattis non eros. Vestibulum congue nec eros quis lacinia. Mauris non tincidunt lectus. Nulla mollis, orci vitae accumsan rhoncus.</p>
                                                    <a href="places-3.html" class="mm-r-m-btn">Read more</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <%-- </ul>--%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--END HEADER SECTION-->

    <form id="form1" runat="server">


        <div class="bodypage1">


            <div class="">

                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>

            <!-- end of content -->
            <div class="clear1"></div>

        </div>
        <section class="footer" style="display:none;">
    <div class="">

        <div class="main-detail">
            <a href="javascript:;" id="Main" onclick="Showdiv('Main')" style="display: none;">Main Links</a>
        </div>
        <div class="main-detail">
            <a href="javascript:;" id="WhoWeAre" onclick="Showdiv('WhoWeAre')" style="display: none;">Who We Are</a>
        </div>
        <div class="main-detail">
            <a href="javascript:;" id="Information" onclick="Showdiv('Information')" style="display: none;">Important Information</a>
        </div>
        <div class="footer2">
            <div class="inner">

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 navb" id="div_main">
                    <h3 class="hidden-xs">Services Offering</h3><hr class="hidden-xs">
                    <ul>
                        <li><a href="#">Domestic Airlines</a></li>
                        <li><a href="#">International Airlines</a></li>
                        <li><a href="#">Domestic Hotels</a></li>
                        <li><a href="#"> International Hotels</a></li>
                        
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 navb" id="divWho">
                    <h3 class="hidden-xs">RWT</h3><hr class="hidden-xs">
                    <ul>
                        <li><a href="about-us.aspx">About Us</a></li>
                        <li><a href="Why-Travel-with-RWT.aspx">Why Travel with RWT</a></li>
                        <li><a href="https://RWT.wordpress.com/" target="_blank">Blogs</a></li>                        
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 navb" id="divInformation">
                    <h3 class="hidden-xs">About the Site</h3><hr class="hidden-xs">
                    <ul>
                        <li><a href="faq.aspx">FAQ</a></li>
                        <li><a href="privacy.aspx"> Privacy Policy</a></li>
                        <li><a href="https://www.RWT.com/contact-us.html" target="_blank">Contact Us</a></li>
                        <li><a href="https://www.RWT.com/escalation.php" target="_blank"> Escalation </a></li>                        
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fot_ri_btm">
                    <div class="f_logo"><a href="#"> <img  src="<%= ResolveUrl("~/Advance_CSS/Icons/logo(ft).png")%>" width="220"></a></div>
                    <p><b> CUSTOMER SUPPORT</b></p>
                    <p>  +91-11-47 677 777 </p>

                   
                    <div class="wh_call"><img src="<%= ResolveUrl("~/images/icon_what_app.png")%>" alt="watsapp icon">   <strong>Let's Connect..</strong> </div>
                    <div class="social">
                        <a href="https://www.facebook.com/RWTindia" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/RWT" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://plus.google.com/+RWTIndia/about" target="_blank">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="https://www.youtube.com/user/flywithusindia" target="_blank">
                            <i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a> 
                    </div>
                </div>

                <!-- end footer -->


            </div>
        </div>

        <div class="footer3">
            <div class="inner">
                <div class="lft_img"><img src="<%= ResolveUrl("~/images/certificationlogo.png")%>" alt="FlyWithUs Certification"> </div>
              
            </div>
        </div>
        <div class="footer4">
            <div class="inner">
                <p class="footer4_bold">© Copyright 2018-2019 , All Rights Reserved By: RWT</p>
                
            </div>
        </div>
    </div>
</section>


         



        <section>
            <div class="rows">
                <div class="footer">
                    <div class="container">
                        <div class="foot-sec2">
                            <div style="border-bottom: 1px solid #f1f1f1">
                                <div class="row">
                                    <div class="col-sm-3 foot-spec foot-com">
                                        <h4 style="font-size: 13px;"><span style="font-size: 13px;">Holiday</span> Tour &amp; Travels</h4>

                                    </div>
                                    <div class="col-sm-3 foot-spec foot-com">
                                        <h4 style="font-size: 13px;"><span style="font-size: 13px;">Address</span> &amp; Contact Info</h4>

                                    </div>
                                    <div class="col-sm-3 col-md-3 foot-spec foot-com">
                                        <h4 style="font-size: 13px;"><span style="font-size: 13px;">SUPPORT</span> &amp; HELP</h4>

                                    </div>
                                    <div class="col-sm-3 foot-social foot-spec foot-com">
                                        <h4>

                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <p>Copyrights © 2020 Richa Travel. All Rights Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </form>
</body>


    <script type="text/javascript" src="<%ResolveUrl("Custom_Design/js/jquery-latest.min.js")%>"></script>
<script type="text/javascript" src="<%ResolveUrl("https://code.jquery.com/jquery-1.12.4.js")%>"></script>
<script type="text/javascript" src="<%ResolveUrl("Custom_Design/js/jquery-ui-1.12.1.js")%>"></script>
<script type="text/javascript" src="<%ResolveUrl("Custom_Design/js/bootstrap.js")%>"></script>
<script type="text/javascript" src="<%ResolveUrl("Custom_Design/js/wow.min.js")%>"></script>
<script type="text/javascript" src="<%ResolveUrl("Custom_Design/js/materialize.min.js")%>"></script>
<script type="text/javascript" src="<%ResolveUrl("Custom_Design/js/custom.js")%>"></script>


</html>
