﻿.clspaxdtls {
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    color: #a1a1a1;
    padding: 10px;
    margin-left: 0px;
    line-height: 25px;
}

.paxselected {
    border: 1px solid #e69c77;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e4c8c824;
    color: #9f9f9f;
    line-height: 25px;
    width: 100%;
    padding: 10px;
    text-align: left;
    display: inline-block;
}

.rightContent {
    text-align: left;
    font-size: 1.9em;
    color: #444;
    margin: 20px 0 55px 0;
    padding: 10px;
    letter-spacing: 0;
    font-weight: normal;
}

.fltselected {
    color: white !important;
    padding: 5px;
    cursor: pointer;
    border-radius: 0px !important;
    border: 2px solid #df441b;
    font-size: 12px !important;
    background: #df441b;
}
/*.clsorgdest {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    cursor:pointer;
     
  
    padding: 11px;
}*/

.clsorgdest {
    /*border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;*/
    /*border-top-right-radius: 0px;*/
    cursor: pointer;
    /*padding: 7px 5px 5px 5px;*/
}

.fltnone {
    display: none;
}

.lftgreen {
    height: 50px;
    margin-bottom: 10px;
}

    .lftgreen > a {
        width: 100%;
        height: 34px;
        padding: 15px 5px 15px 5px;
        margin-left: 3px;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
    }

#SeatSource {
}

.texthead {
    font-size: 16px;
    text-align: center;
    color: #424242;
    height: 32px;
    padding-top: 8px;
    padding-bottom: 29px;
}


.textheads {
    font-size: 14px;
    padding-left: 10px;
    text-align: left;
    color: #108bd4;
    height: 32px;
    padding-top: 8px;
    font-weight: 100;
}

.texthe {
    font-size: 20px;
    padding-left: 10px;
    text-align: left;
    text-align: justify;
    color: #3366FF;
    padding-left: 30px;
    padding-right: 30px;
    width: 92%;
    position: absolute;
    top: 45%;
    left: 00%;
    height: auto;
    padding-top: 8px;
}

.flightSeatMap {
    border-collapse: separate;
    border-spacing: 3px;
    background: #f9f9f9;
    padding: 0px 0px 0px 0px;
    border-radius: 12em 0em 0em 12em;
    -webkit-box-shadow: inset 20px 0px 10px #fff;
    box-shadow: inset 20px 0px 10px #fff;
}

.vListContainer {
    background-color: #fafafa;
    height: 500px;
    overflow: hidden;
}



.front {
    position: relative;
    right: 0;
    left: 236%;
    top: 50%;
    margin-top: -14px;
}



.cockpit {
    height: 174px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-bottom: 5px solid #dfdfdf;
}


    .cockpit:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 390px;
        width: 100%;
        border-radius: 50%;
        border-right: 11px solid #dfdfdf;
        border-left: 11px solid #dfdfdf;
    }

#toPopup {
    max-width: 800px;
    position: relative;
    background: #ffffff;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 25%);
    margin: auto;
}

#toPopup1 {
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    padding: 1.2rem;
    display: none;
}


.rear {
    position: relative;
    right: 0;
    left: 0;
    top: 45%;
    padding-left: 33px;
}

.pricetbs {
    width: 100%;
    text-align: center;
    display: block;
    /*border-bottom: 1px solid #bcc8d1;
    padding: 10px;*/
}

    .pricetbs > li {
        font-size: 11px;
        padding: 10px 3px 10px 3px;
        vertical-align: top;
    }

        .pricetbs > li > a {
            vertical-align: top;
        }

.selectbtns {
 
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    color: #2196F3;
    padding: 0 14px;
    float: left;
    font-size: 14px;
    border: 1px solid #2196F3;
    height: 35px;
    line-height: 33px;
    font-weight: 600;
    margin: 5px 0 5px 0;
}

.SELECTED {
    /*background-image: url(../Images/Seat/seat_icons2.png);*/
    
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #40cb00 !Important;
    cursor: pointer;
}

    .SELECTED::before {
        position: absolute;
        top: -4px;
        left: 0px;
        color: #fff !important;
        
        content: "\eed8" !important;
        font-family: "IcoFont" !important;
        font-size: 20px;
    }

.OCCUPIED {
    /*background-image: url(../Images/Seat/seat_icons2.png);*/
    height: 25px;
    width: 25px;
    background-position: left top;
    padding: 6px 14px 5px 10px;
    background-repeat: no-repeat;
    background-color: #aaaaaa;
    cursor: no-drop;
    color: #eee;
}

.PRICE_0 {
    /*background-image: url(../Images/Seat/seat_icons2.png);*/
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #e4c8c8;
    cursor: pointer;
}

.PRICE_50 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #f2ba46;
    cursor: pointer;
}

.PRICE_99 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #f2deed;
    cursor: pointer;
}

.PRICE_100 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #e4b2d7;
    cursor: pointer;
}

.PRICE_125 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #e96ac8;
    cursor: pointer;
}

.PRICE_150 {
    /*background-image: url(../Images/Seat/seat_icons2.png);*/
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #806a7d;
    cursor: pointer;
    color: #eee;
}

.PRICE_200 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #d0d7ee;
    cursor: pointer;
}

.PRICE_250 {
    /*background-image: url(../Images/Seat/seat_icons2.png);*/
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #e69c77;
    cursor: pointer;
    color: #eee;
}

.PRICE_300 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #86b5dc;
    cursor: pointer;
}

.PRICE_350 {
    /*background-image: url(../Images/Seat/seat_icons2.png);*/
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #E9C352;
    cursor: pointer;
    color: #eee;
}

.PRICE_400 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #e88383;
    cursor: pointer;
}

.PRICE_450 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #a15151;
    cursor: pointer;
}

.PRICE_500 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #ae3e3e;
    cursor: pointer;
}

.PRICE_550 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #9d7c7c;
    cursor: pointer;
}

.PRICE_600 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #005587;
    cursor: pointer;
}

.PRICE_650 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #0a8cd9;
    cursor: pointer;
}

.PRICE_700 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #3efbea;
    cursor: pointer;
}

.PRICE_750 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #2dc8ba;
    cursor: pointer;
}

.PRICE_800 {
    /*background-image: url(../Images/Seat/seat_icons2.png);*/
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #76b97d;
    cursor: pointer;
}

.PRICE_899 {
    /*background-image: url(../Images/Seat/seat_icons2.png);*/
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #B589D7;
    cursor: pointer;
    color: #eee;
}

.PRICE_900 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #20792a;
    cursor: pointer;
}

.PRICE_999 {
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #81f5dc;
    cursor: pointer;
    color: #eee;
}

.PRICE_1000 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #81f5dc;
    cursor: pointer;
}

.PRICE_1100 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #f6b3bf;
    cursor: pointer;
}

.PRICE_1200 {
    /*background-image: url(../Images/Seat/seat_icons2.png);*/
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #fe758d;
    cursor: pointer;
}


.PRICE_1299 {
    /*background-image: url(../Images/Seat/seat_icons2.png);*/
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #E9C352;
    cursor: pointer;
}

.PRICE_1300 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #ed3f5e;
    cursor: pointer;
}

.PRICE_1400 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #d41d3e;
    cursor: pointer;
}

.PRICE_1500 {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #a1122c;
    cursor: pointer;
}

.PRICE_PAID {
    background-image: url(../Images/Seat/seat_icons2.png);
    height: 25px;
    width: 25px;
    padding: 6px 14px 5px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #bcccd5;
    cursor: pointer;
}


.lft {
    float: left;
}

.rgt {
    float: right;
}

.p10 {
    padding: 10px;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w30 {
    width: 30%;
}

.w20 {
    width: 20%;
}

.w100 {
    width: 100%;
}



.seatSectn {
    width: 100%;
    float: left;
    margin-top: 90px;
}

.seat_ttl {
    padding: 0 12px;
    font-size: 13px;
    color: #000;
    font-weight: 600;
    margin-bottom: 5px;
}

.seat_block {
    padding: 0 12px;
    width: 100%;
    float: left;
    margin-top: 5px;
}

.st_txt {
    color: #646464;
    font-size: 13px;
    line-height: 28px;
    float: right;
    font-weight: 100 !important;
}


@media only screen and (max-width: 500px) {
    #toPopup {
        min-width: 320px;
        /*  background: none repeat scroll 0 0 #FFFFFF;
        border: 0px solid #ccc !important;
        border-radius: 0 !important;
        color: #333333;
        display: none;
        font-size: 14px;
        left: 0;
        margin-left: 0 !important;
        position: fixed;
        top: 0 !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 2;
        overflow-y: scroll;
        overflow-x: hidden;*/
    }

    .pln-seat {
        overflow: hidden !important;
        height: auto !important;
        margin-left: 7% !important;
    }
}


.pln-seat {
    /*overflow: scroll;*/
    height: 400px;
    /*margin-left: 273px;*/
    transform: rotateX( 190deg );
}

#spnamount {
    font-weight: 500;
}


.seat-container-1 {
    width: 25%;
    text-align: left;
    display: inline-block;
    border-bottom: 1px solid #bcc8d1;
}

@media (min-width: 320px) and (max-width: 767px) {
    .seat-container-1 {
        width: 100%;
    }
}







    .seat-map-header {
        width: 100%;
        padding: 20px 10px 10px 20px;
        display: block;
        border-bottom: 1px solid #bcc8d1;
    }

    .seat-heading {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: 500;
        color: #000;
    }

    .seat-map-select-city {
        width: 50%;
        vertical-align: top;
        display: inline-block;
    }

    .search-city {
        font-size: 14px;
        line-height: 18px;
        color: #666;
        margin: 0;
        max-width: 100px;
        word-break: break-word;
        font-weight: 500;
    }

    .seat-map-pax-box {
        width: 100%;
        padding: 10px;
        text-align: left;
        display: inline-block;
    }


    .seat-map-data {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        text-align: left;
        display: inline-block;
    }


    .btn-seat {
        color: #fff;
        background-color: #DF441B;
        line-height: 10px;
        padding: 10px;
        border-radius: 4%;
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
        text-align: center;
        font-size: 16px;
        border: none;
        font-weight: 500;
    }


    .seat-container-2 {
        width: 60%;
        padding: 30px 20px 30px 20px;
        text-align: center;
        vertical-align: top;
        display: inline-block;
        border-right: solid 1px #bcc8d1;
        border-left: 1px solid #bcc8d1;
    }

/*@media (min-width: 500px) {

    .seat-container-2 {
        width: 100%;
    }
}*/


    .seat-occ-item {
        width: 100%;
        text-align: center;
        display: block;
        border-bottom: 1px solid #bcc8d1;
        padding: 10px;
    }

    .seat-map-container-3 {
        width: 15%;
        display: inline-block;
        vertical-align: top;
        padding-left: 0px;
    }

/*@media (min-width: 500px) {

    .seat-map-container-3 {
        width: 100% !important;
    }
}*/


    .grid-column {
        display: inline-block;
        position: relative;
        vertical-align: top;
        margin-right: 2px;
    }

    .seat-map__box--booked {
        background: #a4b4c1;
        cursor: not-allowed;
    }


    .seat-map__box--background-4 {
        background: #81f5dc;
    }


    .grid-item {
        margin-top: 2px;
        position: relative;
        width: 100%;
        text-align: center;
        height: 35px;
        /*background: #e4c8c8;*/
        color: white;
        border: solid 1px white;
        cursor: pointer;
    }

    .seat-map__box--booked .grid-item__text {
        display: none;
    }


    .grid-item__text {
        font-size: 12px;
        line-height: 35px;
    }

    .seat-map__box--background-3 {
        background: #B589D7;
    }

    .seat-map__box--background-4 {
        background: #81f5dc;
    }

    .seat-map__box--background-3 {
        background: #B589D7;
    }

    .seat-map__box--background-1 {
        background: #e69c77;
    }

    .grid-item__text {
        font-size: 12px;
        line-height: 35px;
    }

    .seat-map__box--booked {
        background: #a4b4c1;
        cursor: not-allowed;
    }


    .seat-price-box {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: left;
    }

    .seat-map-box-price {
        margin-right: 6px;
        vertical-align: bottom;
        display: inline-block;
        position: relative;
        border-radius: 8%;
    }

    .seat-map-price-item:first-child {
        padding-top: 40px;
    }

    .seat-map-price-item {
        width: 100%;
        text-align: center;
        display: block;
        border-bottom: 1px solid #bcc8d1;
        padding: 10px;
    }

        .seat-map-price-item .flight-orientation {
            padding-top: 10px;
            font-size: 52px;
            transform: rotate( -45deg );
            color: #383838;
        }


    .seat-head {
        white-space: nowrap;
        color: #9b9b9b;
        font-weight: 500;
    }



.OCCUPIED::before {
    position: absolute;
    top: -4px;
    left: 0px;
    color: #fff !important;
    content: "\eee4" !important;
    font-family: "IcoFont" !important;
    font-size: 20px;
}