body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #333333;
    margin: 0px;
    padding: 0px;
    /*background: #f7f7f7 url(../images/bg.png) repeat-x;*/
}

.obg {
    background: url(../images/bg.png) repeat-x;
}

.headinging {
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
}

h1 {
    font-size: 16px;
    margin: 0px;
    color: #325380;
}

h2 {
    color: #fff;
    font-size: 16px;
    margin: 0;
}

h3 {
    color: #032451;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

h4 {
    margin: 0px;
    line-height: 25px;
}

h5 {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
    line-height: 25px;
}


h6 {
    background: #325380;
    border-top: 2px solid #032451;
    width: 100%;
    color: #fff;
    text-indent: 15px;
    font-size: 12px;
    margin: 10px 0 5px 0;
}


hr {
    border-top: 1px solid #dbdbdb;
}

a {
    text-decoration: none;
    color: #272727;
}

    a:hover {
    }

    a img {
        border: none;
    }

p {
    text-align: justify;
}

.clear {
    clear: both;
}


.clear2 {
    clear: both;
}

img {
    border: none;
}

.image {
    border: 4px solid #f1f1f1;
    width: 90%;
    box-shadow: 0px 0px 2px #888;
}

.lft {
    float: left;
}

.lftln {
    padding-left: 120px;
}

.rgt {
    float: right;
}

.spn1 {
    float: left;
    background: #004b91 url(../images/selected1.png) no-repeat left;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px 5px 25px;
}

.spn {
    float: left;
    background: url(../images/selected2.png) no-repeat left;
    cursor: pointer;
    font-weight: bold;
    color: #272727;
    padding: 5px 10px 5px 25px;
}


#feedback {
    position: fixed;
    float: right;
    top: 160px;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

    #feedback:hover {
        opacity: 0.9;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }

#feedback1 {
    background: url(../images/feedback.png) no-repeat;
    height: 371px;
    width: 32%;
    padding: 1% 2%;
    display: none;
    margin-left: 34%;
    z-index: 1;
    top: 100px;
    position: fixed;
    color: #fff;
}

/*.button {
	border: none;
	padding: 7px 35px 7px 10px;
	background: #004b91 url(../images/search.png) right no-repeat;
	color: #fff;
	box-shadow: 1px 1px 5px #888;
	cursor: pointer;
	float: right;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
}*/

.button1, .buttonmain {
    border: none;
    padding: 7px 10px;
    background: #004b91;
    color: #fff;
    box-shadow: 1px 1px 5px #888;
    cursor: pointer;
    float: right;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
}

.button1w {
    border: none;
    padding: 7px 10px;
    color: #fff;
    box-shadow: 1px 1px 5px #888;
    cursor: pointer;
    float: right;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    background: url(../Images/pbar-ani.gif);
}

.button1f {
    border: none;
    padding: 7px 10px;
    color: #d1d1d1;
    box-shadow: 1px 1px 5px #888;
    cursor: not-allowed;
    float: right;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    background: #d27b9b;
}

.button1:hover, .buttonmain:hover {
    box-shadow: 0px 0px 10px #888;
}

.btnrfnd {
    border: none;
    padding: 7px 35px 7px 10px;
    background: #004b91;
    color: #fff;
    box-shadow: 1px 1px 5px #888;
    cursor: pointer;
    float: right;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
}


.buttonflt {
    border: none;
    background: #004b91 url(../images/search.png) right no-repeat;
    color: #fff;
    font-size: 11px;
    padding: 5px 30px 5px 10px;
    box-shadow: 1px 1px 5px #888;
    cursor: pointer;
    float: right;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
}

.buttonfltbk {
    border: none;
    background: #004b91;
    font-size: 11px;
    padding: .2em .4em;
    box-shadow: 1px 1px 5px #888;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.dropdownlist {
    padding: 6px 0;
    color: #272727;
    border: none;
    border-radius: 4px;
    background: #fff;
    border-bottom: 1px solid #c1c1c1;
}

.txtbox {
    border: 1px solid #ccc;
    padding: 8px 2%;
    width: 94%;
}

.txtbx1 {
    background: #fcfcfc url(../images/search.png) right no-repeat;
    padding-right: 12%;
    width: 86%;
}

.txtboxbr {
    border: 1px solid #ccc;
    padding: 8px 2px;
    width: 40px;
}


.Hidtxt {
    background-color: pink;
}

.cal {
    background: #fcfcfc url(../images/calender.png) right no-repeat;
    padding: 8px 2%;
    padding-right: 12%;
    width: 85%;
    border: 1px solid #ccc;
}


/*.calChild {
	background: #fcfcfc url(../images/calender.png) right no-repeat;
	padding-right: 12%;
	width: 88%;
}

.calInf {
	background: #fcfcfc url(../images/calender.png) right no-repeat;
	padding-right: 12%;
	width: 88%;
}*/

.time {
    background: #fcfcfc url(../images/time.png) right no-repeat;
    padding-right: 12%;
    width: 86%;
}

.adult {
    background: #fcfcfc url(../images/adult.png) right no-repeat;
    padding-right: 12%;
    width: 86%;
}

.kids {
    background: #fcfcfc url(../images/kids.png) right no-repeat;
    padding-right: 12%;
    width: 86%;
}

.airplane {
    background: #fcfcfc url(../images/airplane.png) right no-repeat;
    padding-right: 12%;
    width: 86%;
}

.room {
    background: #fcfcfc url(../images/room_service_sign.png) right no-repeat;
    padding-right: 12%;
    width: 86%;
}

.home {
    background: url(../images/home.png) no-repeat;
    float: left;
    display: block;
    height: 43px;
    margin-top: 15px;
    width: 41px;
    text-indent: -9999px;
}

.aboutus {
    background: url(../images/aboutus.png) no-repeat;
    height: 43px;
    width: 41px;
    margin-top: 15px;
    float: left;
    display: block;
    text-indent: -9999px;
}

.contactus {
    background: url(../images/contactus.png) no-repeat;
    height: 43px;
    width: 41px;
    margin-top: 15px;
    float: left;
    display: block;
    text-indent: -9999px;
}

.whyus {
    background: url(../images/whyus.png) no-repeat;
    height: 43px;
    width: 41px;
    margin-top: 15px;
    float: left;
    display: block;
    text-indent: -9999px;
}

.header1 {
    position: fixed;
    left: 0;
    top: 0;
    background: #f7f7f7;
    z-index: 999;
    border-bottom: 2px solid #d1d1d1;
}

.w70m15 {
    margin: 0;
    padding: 0;
    width: 70%;
    margin-left: 15%;
}

.site-logo {
    display: block;
    text-indent: -9999px; /* hides the link text */
    float: left;
    width: 45%;
    height: 60px;
    margin-top: 4px;
    background: url(../images/logo.png) no-repeat;
}

.socialnet a img {
    float: right;
    position: relative;
    top: 5px;
    margin: 0 2px;
    border: none;
}

    .socialnet a img:hover {
        box-shadow: 0px 0px 5px #272727;
    }

.social .bdr {
    float: right;
    border: 1px solid #d1d1d1;
    margin: 1px;
    padding: 0 5px;
    color: #325380;
    font-weight: bold;
    cursor: pointer;
}

    .social .bdr:hover {
        border: 1px solid #325380;
        padding: 0 5px;
        color: #fff;
        background: #325380;
    }

.social .bdr1 {
    border: 1px solid #325380;
    padding: 0 5px;
    color: #fff;
    background: #325380;
}

.social span {
    position: relative;
    top: -4px;
    color: #325380;
}

/* fade show starts here */

.fade {
    background: url(../images/fade.png);
    /*height: 90%;*/
    height: 100%;
    width: 100%;
    position: fixed;
    /*z-index: 9999;*/
    z-index: 9998;
    display: none;
    left: 0;
    top: 0;
}



.dbox {
    display: none;
    float: right;
    z-index: 2;
    position: absolute;
    top: 25px;
}

.dboxnew {
    position: fixed;
    width: 50%;
    left: -100%;
    top: 100px;
    background: #f1f1f1;
    padding: 2%;
    z-index: 999;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #272727;
}

/* fade show ends here */

.slider {
    background: #fff;
    border-top: 5px solid #325380;
    padding: 10px;
    box-shadow: 0px 0px 10px #888;
    float: right;
}

.cls {
    float: right;
    top: -25px;
    right: 10px;
    position: relative;
    cursor: pointer;
    height: 1px;
    width: 1px;
}

.clsgrd {
    display: none;
    float: right;
    top: -25px;
    right: -10px;
    position: relative;
    cursor: pointer;
}

.hlp {
    clear: both;
    border-bottom: 1px solid #ccc;
    padding: 2px 20px;
    margin: 0px;
}

    .hlp:hover {
        background: #eee;
    }

.lrebox {
    border: 1px solid #ccc;
    height: 25px;
    line-height: 25px;
    width: 96%;
    padding: 0 2%;
    margin: 2px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
}

.txtCalander_hotel {
    background-image: url("../../Images/calendar.gif");
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
    font-size: 11px;
    vertical-align: middle;
    padding-left: 5px;
    color: #000;
    height: 20px;
    width: 105px;
    border: thin solid #01942a;
    font-weight: normal;
    margin: 2px;
}

.bd {
    background: #ffffff;
    background-repeat: repeat-x;
    padding: 2%;
    border: 1px solid #d1d1d1;
    margin: auto;
}

.body {
    width: 96%;
    padding: 1% 2%;
}

.dv {
    float: left;
    margin: auto 2%;
    width: 46%;
}

.dvd {
    float: left;
    margin: auto 1.3%;
    width: 14%;
}

.dvd25 {
    float: left;
    margin: auto 1%;
    width: 23%;
}

#headingdiv h4 {
    /*background: #ccc;*/
    width: 100%;
    color: #325380;
    background: url('../Images/bgtab.jpg');
    background-repeat: repeat-x;
    margin: 5px 0;
    font-size: 12px;
}

.clsMySectorBold {
    color: #325380;
    font-weight: bold;
    font-size: 11px;
    background-color: #fff;
    padding: 5px 15px;
    margin-bottom: 2px;
}


.package {
    width: 97%;
    color: #325380;
    background: url('../Images/bgtab.jpg');
    background-repeat: repeat-x;
    font-size: 12px;
    padding: 3px;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
    font-weight: bold;
}


#banner {
    float: right;
    width: 25%;
}

    #banner img {
        box-shadow: 1px 1px 5px #272727;
        border-radius: 3px;
    }

@keyframes boxshdw {
    from {
        box-shadow: 0px 0px 0px #888;
    }

    to {
        box-shadow: 0px 0px 5px #888;
    }
}

@-webkit-keyframes boxshdw {
    from {
        background: #fff;
        box-shadow: 0px 0px 0px #888;
    }

    to {
        background: #f1f1f1;
        box-shadow: 0px 0px 5px #888;
    }
}

#footer {
    width: 100%;
    margin: 0 auto;
    padding-top: 25px;
    /*border-top: 1px solid #004b91;*/
    background: url(../images/btmn.png);
    /*background: #032451;*/
    color: #434343;
    line-height: 15px;
}

    #footer div {
        color: #434343;
    }

    #footer span {
        font-size: 13px;
        font-weight: bold;
        clear: both;
        color: #434343;
        text-decoration: underline;
    }

    #footer a img {
        margin: 3px;
        height: 40px;
        border-radius: 30px;
    }

    #footer ul {
        margin-left: -35px;
    }

        #footer ul li {
            list-style-type: none;
            cursor: pointer;
            color: #434343;
            padding-left: 20px;
            line-height: 20px;
            /*background: url(../images/flight.png) no-repeat left;*/
        }

    #footer #ftr {
        background: #d1d1d1;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

#menuS {
    width: 150px;
    position: fixed;
    left: 0;
    top: 130px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #616161;
    border-top: 2px solid #616161;
}

    #menuS .smenu {
        border-bottom: 1px solid #616161;
        width: 90%;
        padding: 1% 5%;
        background: #2762B0 url(../images/smenubg.png);
        color: #fff;
    }

    #menuS .smenus {
        display: none;
        height: 40px;
    }

        #menuS .smenus div {
            border-bottom: 1px dotted #2762B0;
            width: 96%;
            padding: 0 2%;
            cursor: pointer;
            background: #fdfdfd;
            line-height: 20px;
        }

.alla {
    background: #325380;
    height: 100%;
    width: 100%;
}

.waitup {
    padding: 50px 0;
    width: 20%;
    margin: auto;
}

.wait {
    background: #fff;
    border: 1px solid #ccc;
    width: 40%;
    margin: auto;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #888;
}

.usrlgn {
    height: 219px;
    margin: auto;
    width: 289px;
    padding: 50px 0 0 0px;
    background: url(../images/userlogin.png) no-repeat;
}

.bld {
    font-weight: bold;
}

.inr {
    clear: both;
    font-size: 14px;
    font-weight: bold;
    color: #032451;
    text-align: center;
}

.errorLable {
    color: red;
    display: none;
}

/*bottom bar*/

#site-bottom-bar {
    background: #F0F0F0 url(../images/bottombar.jpg);
    bottom: 0px;
    left: 0px;
    height: 30px;
    position: fixed;
    width: 97%;
    padding: 0 2% 0 1%;
    z-index: 1000;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

    #site-bottom-bar span a {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        color: #fff;
        background: url(../images/lightbg.png);
        height: 22px;
        padding: 0 5px;
        margin-top: 3px;
        margin-left: 3px;
        line-height: 22px;
        text-align: center;
        text-decoration: none;
        float: right;
        font-weight: bold;
    }

        #site-bottom-bar span a:hover {
            color: #fff;
            box-shadow: 0px 0px 5px #272727;
            text-decoration: underline;
        }

/*bottom bar close*/

.txtindnt {
    text-indent: 10px;
}

/* width classes */

.colorwht {
    color: #fff;
}

.colornorm {
    color: #434343;
}

.colormn {
    color: #325380;
}

.colorp {
    color: #004b91;
}

.w100 {
    width: 100%;
    vertical-align: top;
    clear: both;
}

.w95 {
    width: 95%;
    vertical-align: top;
}

.w91 {
    width: 91%;
    vertical-align: top;
}

.w90 {
    width: 90%;
    vertical-align: top;
}

.w85 {
    width: 85%;
    vertical-align: top;
}

.w80 {
    width: 80%;
    vertical-align: top;
}

.w79 {
    width: 79%;
    vertical-align: top;
}

.w75 {
    width: 75%;
    vertical-align: top;
}

.w70 {
    width: 68%;
    vertical-align: top;
}

.w66 {
    width: 66%;
    vertical-align: top;
}

.w60 {
    width: 60%;
    vertical-align: top;
}



.w50 {
    width: 49.5%;
    vertical-align: top;
}

.w45 {
    width: 45%;
    vertical-align: top;
}

.w40 {
    width: 40%;
    vertical-align: top;
}

.w33 {
    width: 33.33%;
    vertical-align: top;
}

.w29 {
    width: 29%;
    vertical-align: top;
}

.w25 {
    width: 23%;
    border: 1px solid #d1d1d1;
    box-shadow: 0px 0px 3px #d1d1d1;
    background: #f1f1f1;
}

    .w25 .headr span {
        color: #335481;
        float: left;
        margin: 10px 0 0 15px;
        font-size: 16px;
        font-weight: bold;
    }

    .w25 .fltr {
        width: 89%;
        margin: 15% 5%;
    }

        .w25 .fltr #slider-range {
            width: 95%;
        }

        .w25 .fltr span {
            font-size: 13px;
            font-weight: bold;
        }

        .w25 .fltr .fltrbox {
            background: #e8e8e8;
            border: 1px solid #d1d1d1;
            width: 90%;
            padding: 5%;
            margin: 3% 0;
        }

            .w25 .fltr .fltrbox .chkid .starrting {
                float: left;
                margin: 0 2px;
            }

                .w25 .fltr .fltrbox .chkid .starrting img {
                    position: relative;
                    top: 5px;
                }

.w24 {
    width: 24%;
    vertical-align: top;
}

.w20 {
    width: 20%;
    vertical-align: top;
}

.w18 {
    width: 18%;
    vertical-align: top;
}

.w15 {
    width: 15%;
    vertical-align: top;
}

.w12 {
    width: 12%;
    vertical-align: top;
}

.w8 {
    width: 8%;
    vertical-align: top;
}

.w10 {
    width: 10%;
    vertical-align: top;
}

.w5 {
    width: 5%;
    vertical-align: top;
}

.w2 {
    width: 2%;
}

.wh {
    width: .5%;
}

/* width classes close */

.mauto {
    margin: auto;
}

.img5t {
    position: relative;
    top: -4px;
}

.errormsg {
    display: none;
    color: red;
}

/* for flight booking summery and utility bars */
.head {
    padding: .8% 2%;
    width: 96%;
    background: #d9d9d9;
    border-top: 5px solid #d1d1d1;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 3px #888;
    color: #272727;
    /*display: none;*/
}

    .head img {
        float: left;
        margin-right: 5px;
    }

.content1 {
    background: #f6f6f6;
    box-shadow: 0px 5px 8px #ccc;
}
/* close flight booking summery and utility bars */

.hide {
    display: none;
}

/*.brdr {
	border: 1px solid #d1d1d1;
}*/

.boxshadow {
    box-shadow: 0px 0px 3px #888;
    -webkit-box-shadow: 0px 0px 3px #888;
    -o-box-shadow: 0px 0px 3px #888;
    -moz-box-shadow: 0px 0px 3px #888;
    -khtml-box-shadow: 0px 0px 3px #888;
}

.brdrradius {
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -o-border-radius: 5%;
    -moz-border-radius: 5%;
    -khtml-border-radius: 5%;
}


.pnday {
    background: none;
    border: none;
    cursor: pointer;
}

    .pnday:hover {
        text-decoration: underline;
    }

.f10 {
    font-size: 10px;
}

.f11 {
    font-size: 11px;
}

.f16 {
    font-size: 16px;
}

.f20 {
    font-size: 20px;
}

.f35 {
    font-size: 35px;
}

.cursorpointer {
    cursor: pointer;
}

.textaligncenter {
    text-align: center;
}

.textalignright {
    text-align: right;
}

.result {
    color: #fff;
    text-align: right;
    margin-top: 5px;
}

.counter {
    border: 1px solid #d1d1d1;
    padding: 2px;
    cursor: pointer;
}

.check {
    background: url(../images/hotel/check1.png) no-repeat left;
    text-indent: 22px;
    width: 50%;
    line-height: 25px;
    height: 25px;
    float: left;
}


.check1 {
    background: url(../images/hotel/check1.png) no-repeat left;
    text-indent: 22px;
    width: 100%;
    line-height: 25px;
    height: 25px;
    float: left;
}

.vald {
    color: #ff0000;
    font-style: italic;
    font-weight: normal;
}

/* for side bar price tab like gdd */
.pricetab {
    border: 1px solid #d1d1d1;
    background: #fff;
    padding: 10px;
    line-height: 30px;
    text-align: right;
}
/* close for side bar price tab like gdd */

.underlineitalic {
    text-decoration: underline;
    font-style: italic;
}

.error {
    color: red;
    font-size: 16px;
}

.lftarea img {
    float: left;
    height: 25px;
    margin-right: 5px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    z-index: -1;
}

    .lftarea img:hover {
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }

.imgcntnt img {
    height: 100px;
    width: 100px;
}

.padding1 {
    padding: 1%;
}

.padding1s {
    padding: 0 1% 0 1%;
}

.padding3 {
    padding: 3%;
}

.paddingt1 {
    padding-top: 1%;
}

.borderleft {
    border-left: 1px solid #ccc;
}

.msg {
    color: #b21e25;
    font-weight: bold;
    margin-left: 500px;
    text-align: center;
}

.bothwayselect {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0 0 3% 0;
    border-top: 2px solid #325380;
    background: url(../images/accent.png);
    display: none;
}

.srctbl table {
    width: 100%;
    border-radius: 5px;
}

    .srctbl table tr th {
        width: 20%;
        border-radius: 0px;
    }

    .srctbl table tr td {
        width: 20%;
        border: 1px solid #888;
        text-align: center;
        border-radius: 5px;
    }

        .srctbl table tr td table tr td {
            text-align: center;
            border: none;
        }

#BkgTransaction ul li {
    float: right;
    list-style-type: none;
    margin-left: 10px;
    padding: 0 10px;
    background: #f6f6f6;
    cursor: pointer;
    font-size: 11px;
    border-radius: 5px;
}

    #BkgTransaction ul li:hover {
        background: #d6d6d6;
    }

.paynow {
    border: none;
    padding: 5px 12px;
    background: #004b91;
    color: #fff;
    box-shadow: 1px 1px 5px #888;
    cursor: pointer;
    float: right;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    margin: 10px 10px;
    font-weight: bold;
}

.tpbtns {
    position: fixed;
    top: 0;
    left: 47%;
    background: #fff;
    padding: .3% .5%;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 3px #d1d1d1;
    border: 1px solid #ccc;
    border-top: none;
    width: 13%;
    z-index: 1000;
}

    .tpbtns div {
        cursor: pointer;
        float: left;
        padding: 1%;
        margin: 1%;
        width: 14.5%;
        text-align: center;
        height: 20px;
        border: 1px solid #d1d1d1;
        border-radius: 5px;
    }

        .tpbtns div:hover {
            box-shadow: 0px 0px 3px #888;
        }

        .tpbtns div div {
            position: relative;
            padding-top: 10px;
            background: url(../images/tp.png) top center no-repeat;
            float: left;
            border: none;
            width: 100%;
            display: none;
        }

            .tpbtns div div span {
                margin-top: 20px;
                background: #004b91;
                color: #fff;
                height: 20px;
                padding: 5px 10px;
                border-radius: 10px;
            }



.recentlyviewed {
    position: fixed;
    bottom: 0;
    right: .5%;
    background: #f1f1f1;
    box-shadow: 0px 0px 5px #272727;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

    .recentlyviewed .rv {
        background: #325380;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        line-height: 25px;
        width: 100%;
        box-shadow: 0px 0px 5px #272727;
    }

.recentsrch {
    padding: 1% 3% 1% 5%;
    width: 92%;
    border-bottom: 1px solid #d1d1d1;
}

    .recentsrch:hover {
        background: #EAE8E8;
        border-bottom: 1px solid #888;
    }

.arrowup {
    background: url(../Images/arrow.png) no-repeat top;
    height: 20px;
    width: 20px;
    float: left;
    margin: 0 15px;
}

.arrowdw {
    background: url(../Images/arrow.png) no-repeat bottom;
    height: 20px;
    width: 20px;
    float: left;
    margin: 0 15px;
}

.updn {
    background: url(../images/updn.png) top center;
    width: 8px;
    height: 8px;
    float: left;
    vertical-align: middle;
    margin-top: 12px;
    border-radius: 3px;
}

.updn1 {
    background: url(../images/updn.png) bottom center;
    width: 8px;
    height: 8px;
    float: left;
    vertical-align: middle;
    margin-top: 12px;
    border-radius: 3px;
}


#divFeedBackForm {
    position: fixed;
    z-index: 9998;
    width: 32%;
    right: -30.4%;
    top: 10%;
}

    #divFeedBackForm #divFeedBackClick {
        /*background: #d1d1d1;*/
        cursor: pointer;
        float: left;
        color: #272727;
        font-weight: bold;
        margin-top: 175px;
        text-align: center;
        line-height: 25px;
        width: 5.8%;
    }

    #divFeedBackForm #divFullFeedbackform {
        width: 86.2%;
        padding: 4%;
        background: #f1f1f1;
        float: left;
        box-shadow: 0px 3px 8px #272727;
    }

.txtmylbl {
    font-weight: bold;
    font-size: 14px;
}

.textarea {
    height: 70px;
    border: 1px solid #ccc;
    padding: 8px 2%;
}

.custmrgn {
    margin-left: 5px;
    margin-right: 5px;
}

.starrate {
    cursor: pointer;
}

.zi998 {
    z-index: 9990;
}

.userface {
    height: 20px;
    width: 15px;
}

.cplsltd {
    background-color: #004b91;
    color: white;
}

.t5 {
    position: relative;
    top: -3px;
}

.t2 {
    position: relative;
    top: -2px;
}

.matrix {
    text-align: center;
    margin: 0;
    width: 99.8%;
    border: 1px solid #d1d1d1;
    background: #fff;
    padding: 5px;
}

    .matrix tr td {
        margin: 2%;
        border: 1px solid #f1f1f1;
        font-size: 1em;
        line-height: 25px;
        text-align: center;
    }

        .matrix tr td:hover {
            text-decoration: underline;
        }

        .matrix tr td div {
            cursor: pointer;
            width: 100%;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

.mtrx1 {
    background: #f1f1f1 url(../images/selectico.png) right bottom no-repeat;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.srtarw {
    background: url(../images/srtarw.png) no-repeat left;
    text-indent: 12px;
    cursor: pointer;
}

.srtarw1 {
    background: url(../images/srtarw1.png) no-repeat left;
    text-indent: 12px;
    cursor: pointer;
}



.brdrblue {
    border: 1px solid #325380;
}

.bgmn {
    background: #004b91;
}

.bgf9 {
    background: #f9f9f9;
}

.bgmn1 {
    background: #004b91;
}

.w51 {
    width: 49%;
    height: 100%;
    /*border-right: 1px solid #325380;*/
    padding-right: 1%;
}

.textunderline {
    text-decoration: underline;
}

.texttransform {
    text-transform: capitalize;
}
